@page
@model Sacrament_Planner.Pages.Plans.CreateModel

@{
    ViewData["Title"] = "Create";
}

    <script>
        function displayForms() {
            var numSpeakers = document.getElementById("NumSpeakers");
            var numForms = parseInt(numSpeakers.innerHTML);
            document.getElementById("test") = "<p>Test Again</p>";
        }

        function addFields() {
            // Number of inputs to create
            var number = document.getElementById("member").value;
            // Container <div> where dynamic content will be placed
            var container = document.getElementById("container");
            // Clear previous contents of the container
            while (container.hasChildNodes()) {
                container.removeChild(container.lastChild);
            }
            for (i = 0; i < number; i++) {
                // Append a node with a random text
                container.appendChild(document.createTextNode("Speaker " + (i + 1)));
                // Create an <input> element, set its type and name attributes
                var input = document.createElement("input");
                input.type = "text";
                input.name = "member" + i;
                input.
                container.appendChild(input);
                // Append a line break
                container.appendChild(document.createElement("br"));
            }
        }
    </script>

<h1>Create</h1>

<h4>Sacrament_Plan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Sacrament_Plan.MeetingDate" class="control-label"></label>
                <input asp-for="Sacrament_Plan.MeetingDate" class="form-control" />
                <span asp-validation-for="Sacrament_Plan.MeetingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sacrament_Plan.ConductingLeader" class="control-label"></label>
                <input asp-for="Sacrament_Plan.ConductingLeader" class="form-control" />
                <span asp-validation-for="Sacrament_Plan.ConductingLeader" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sacrament_Plan.OpeningSong" class="control-label"></label>
                <input asp-for="Sacrament_Plan.OpeningSong" class="form-control" />
                <span asp-validation-for="Sacrament_Plan.OpeningSong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sacrament_Plan.SacramentHymn" class="control-label"></label>
                <input asp-for="Sacrament_Plan.SacramentHymn" class="form-control" />
                <span asp-validation-for="Sacrament_Plan.SacramentHymn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sacrament_Plan.ClosingSong" class="control-label"></label>
                <input asp-for="Sacrament_Plan.ClosingSong" class="form-control" />
                <span asp-validation-for="Sacrament_Plan.ClosingSong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sacrament_Plan.MusicalNumber" class="control-label"></label>
                <input asp-for="Sacrament_Plan.MusicalNumber" class="form-control" />
                <span asp-validation-for="Sacrament_Plan.MusicalNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sacrament_Plan.IntermediateHymn" class="control-label"></label>
                <input asp-for="Sacrament_Plan.IntermediateHymn" class="form-control" />
                <span asp-validation-for="Sacrament_Plan.IntermediateHymn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sacrament_Plan.OpeningPrayer" class="control-label"></label>
                <input asp-for="Sacrament_Plan.OpeningPrayer" class="form-control" />
                <span asp-validation-for="Sacrament_Plan.OpeningPrayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sacrament_Plan.ClosingPrayer" class="control-label"></label>
                <input asp-for="Sacrament_Plan.ClosingPrayer" class="form-control" />
                <span asp-validation-for="Sacrament_Plan.ClosingPrayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="text" id="member" name="member" value="">Number of speakers: <br />
                <a href="#" id="filldetails" onclick="addFields()">Fill Details</a>
                <div id="container">

                </div>
            </div>
            <div id="test">
                
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
